.background-image {
    background-image: url('https://t4.ftcdn.net/jpg/01/69/34/35/360_F_169343503_QQH7jFTHE6TIoIjPdp9YnXWq4OUkQa7h.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#root {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    
}

.landing {
    width: 100vw;
    height: 100%;
    display: flex;
    text-align: center;
    color: white;
}

.landing > div{
    margin: 30vh auto;
}



.content-container {
    margin-top: 100px;

  
}

.book-search-container {
    display: flex;
    width: 100%;
}

.book-search {
    margin: 0 auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    padding: 20px;
    background-color: white;
}

.book-search h2{
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.book-search h3{
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.book-search input{
    padding: 8px;
    width: 300px;
}

.section-title{
    text-align: center;
    margin: 50px 0;
    width: 100%;
}